a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000;
  --accent-color: #2196f3;
  --background-color: #fff;
  --hero-background-color: #2f303a;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  width: 354px;
}
@media screen and (min-width: 886px) {
  .container {
    width: 886px;
    padding-left: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding-right: 31.5px;
  padding-left: 31.5px;
  padding-top: 43px;
  width: 312px;
  text-align: center;
}

.hero-text {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 23.5px;
  padding-left: 23.5px;
  margin-top: 21px;
  text-align: center;
  width: 328px;
}

.button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: var(--Primary, #FF6464);
  color: #FFF;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 83px;
  margin-left: 83px;
  margin-top: 27px;
  margin-bottom: 59px;
}

.img {
  padding-right: 102px;
  padding-left: 102px;
  padding-top: 83px;
}

.menu {
  background-color: #fff;
  border: none;
  padding-left: 327px;
  padding-top: 20px;
}
@media screen and (min-width: 1152px) {
  .menu {
    display: none;
  }
}

.nav-list {
  display: none;
  margin-left: 700px;
  margin-top: 27px;
  margin-right: 45px;
  width: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1152px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works {
  display: none;
}
@media screen and (min-width: 1152px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.blog {
  display: none;
}
@media screen and (min-width: 1152px) {
  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.contact {
  display: none;
}
@media screen and (min-width: 1152px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.footer {
  margin-top: 150px;
}

.facebook {
  margin-left: 71px;
  margin-top: 51px;
}

.another {
  margin-left: 35px;
  margin-top: 51px;
}

.copyright {
  color: var(--Dark, #21243D);
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1151px) {
  .copyright {
    margin-top: 107px;
    margin-right: 76px;
    margin-left: 76px;
    line-height: normal;
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1152px) {
  .copyright {
    margin-left: 354px;
  }
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}
@media screen and (min-width: 1152px) {
  .svg-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recent-posts {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
@media screen and (max-width: 1151px) {
  .recent-posts {
    text-align: center;
  }
}
@media screen and (min-width: 1152px) {
  .recent-posts {
    margin-left: 15px;
    padding-top: 15px;
  }
}

.datax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 13px;
  margin-top: 17px;
  width: 274px;
  margin-left: 5px;
}

.data {
  width: 89px;
  height: 24px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.norm {
  background: #EDF7FA;
  padding-bottom: 38px;
}

.fon {
  height: 266px;
  margin-bottom: 17px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}

.item {
  padding-top: 17px;
  padding-left: 11px;
  padding-right: 11px;
}

.making {
  width: 327px;
  height: 60px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 136.364% */
  padding-top: 12px;
  padding-left: 19px;
  padding-right: 8px;
}

.link {
  display: none;
}
@media screen and (min-width: 1152px) {
  .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--Secondry, #00A8CC);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 645px;
    margin-top: 27px;
  }
}

.design {
  width: 109px;
  height: 24px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 314px;
  height: 117px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
  margin-top: 22px;
  padding-right: 21px;
  padding-left: 19px;
}

.b-and-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

@media screen and (min-width: 1152px) {
  .article-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.featured {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
@media screen and (max-width: 1151px) {
  .featured {
    text-align: center;
  }
}
@media screen and (min-width: 1152px) {
  .featured {
    margin-left: 15px;
    padding-top: 15px;
  }
}

.fon-2 {
  margin-right: 18px;
  margin-left: 18px;
}
@media screen and (min-width: 1152px) {
  .fon-2 {
    width: 246px;
    height: 180px;
    border-radius: 6px;
  }
}

.sub-title {
  height: 30px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 24px;
  font-weight: 700;
  margin-left: 18px;
}

.text-second {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
  margin-top: 22px;
  padding-right: 21px;
  padding-left: 19px;
}
@media screen and (max-width: 1151px) {
  .text-second {
    width: 314px;
    height: 117px;
  }
}
@media screen and (min-width: 1152px) {
  .text-second {
    width: 594px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 62px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 375% */
  border-radius: 16px;
  background: #142850;
  margin-left: 18px;
}

.dashboard {
  width: 78px;
  height: 24px;
  color: var(--Light, #8695A4);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 34px;
}

@media screen and (min-width: 1152px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 1151px) {
  .ok {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */