.footer{
    margin-top: 150px;
}
.facebook{
    margin-left: 71px;
    margin-top: 51px;
    // @media screen and (max-width:1151px) {
    //     margin-left: 71px;
    //     margin-top: 51px;
    // }
    // @media screen and (min-width:1152px) {
        
    // }
}
.another{ 
    margin-left: 35px;
    margin-top: 51px;
    // @media screen and (max-width:1151px) {
    //     margin-left: 35px;
    //     margin-top: 51px;
    // }
    // @media screen and (min-width:1152px) {
        
    // }
}
.copyright{
    color: var(--Dark, #21243D);
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width:1151px) {
        margin-top: 107px;
        margin-right: 76px;
        margin-left: 76px;
        line-height: normal;
        margin-bottom: 54px;
    }
    @media screen and (min-width:1152px) {
        margin-left: 354px;
    }
}
.svg-list{
    display: flex;
    margin-bottom: 26px;
    @media screen and (min-width:1152px) {
        display: flex;
        justify-content: center;
    }
}