@import './variables';
@import './utils';
@import './common';
@import './header';
.menu{
    background-color: #fff;
    border: none;
    position: absolute;
    right: 100px;
    top: 100px;
}
.container{
    position: relative;
}
