.container{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 375px;
    // @media screen and (min-width:886px){
    //     width: 886px;
    // }
}

.hero{
    text-align: center;
    width: 375px;
    padding-bottom: 58px;
}
.button-svg{
    position: absolute;
    left: 327px;
    top: 20px;
    background-color: #fff;
    border: none;
}
.img{
    margin-top: 83px;
    margin-right: 100.52px;
    margin-left: 103.62px;
    width: 170px;
    height: 170px;
}
.title{
    color: var(--Dark-Color, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    width: 312px;
}
.text{
    color: var(--Dark-Color, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 328px;
}
.text-2{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 317px;
    height: 117px; 
}
.button{
    width: 208px;
    height: 47px;
    color: #FFF;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 2px;
    background: var(--Primary, #FF6464);
}
.section-main{
    width: 375px;
    height: 647px;
    background: #EDF7FA;
    margin-right: auto;
    margin-left: auto;
}
.recent-post{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-weight: 400;
    width: 105px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.recent{
    display: flex;
    justify-content: center;
}
.pinpunkt{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 136.364% */
    width: 327px;
}
.container-data{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.feb{
    width: 89px;
    height: 24px;
}
.design{
    width: 109px;
    height: 24px;
}
.container-main{
    width: 354px;
    height: 266px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;;
}
.Featured{
    margin-right: auto;
    margin-left: auto;
    width: 375px;
    height: 647px;
    background: #FFF;
}
.future{
    margin-right: auto;
    margin-left: auto;
    width: 375px;
    height: 647px;
    background: #FFF;
}
.section-main-2{
    width: 375px;
    height: 647px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}
.img-2{
    width: 339px;
    height: 230px;
}
.button-2{
    display: flex;
    width: 62px;
    height: 25px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    border-radius: 16px;
    background: #142850;
}
.dashboard{
    color: var(--Light, #8695A4);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.b-and-p{
    display: flex;
}
.svg-s{
    display: flex;
}
.footer{
    width: 375px;
    height: 182px;
}
.copyright{
    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 222px;
    height: 21px;
}